* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

p {
    font-weight: 400;
    font-size: 24px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;
}

body {
    min-height: 300px;
    width: 100%;
    background-color: #ffffef
}

main {
    width: 100%; 
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.band-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    min-height: 520px;
    margin-top: 30px;
    background: linear-gradient(to bottom, rgba(189,195,199,1) 20%, rgba(150,166,179,1) 69%, rgba(135,158,181,1) 100%);
    border-radius: 10px;
    transition: 0.5s;
}

.band-info:first-child {
    margin-top: 0;
}

.band-info:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.first {
    width: 400px;
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cover {
    border-radius: 3px;
    width: 400px; 
    height: 400px; 
    background-color: white;
}


.logo {
    border-radius: 3px;
    width: 400px; 
    height: 400px;
    z-index: 2; 
}

.close-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(to bottom, #ffeeee, #ddefbb);
    border: 2px solid #656565;
    z-index: 2;
    position: relative;
    top: -220px;
}

.add-track-btn {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid #656565;
    background: linear-gradient(to bottom, #ffeeee, #ddefbb);
    transition: 1s;
}

.add-track-btn:hover, .add-band-btn:hover{
    background: linear-gradient(to top, #ffeeee, #ddefbb);
}

.add-band-btn {
    width: 200px;
    height: 50px;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    margin-left: 50%;
    border-radius: 5px;
    border: 3px solid #656565;
    font-size: 20px;
    background: linear-gradient(to bottom, #ffeeee, #ddefbb);
    transition: 1s;
}

.second {
    width: 60%;
    min-height: 460px;
}

.tracks {
    position: relative;
    top: 40px;
}

.tracks-list {
    min-height: 100px;
    list-style: url(https://img.icons8.com/?size=15&id=apInxpMsS4Iq&format=png&color=000000);
}

.labels {
    margin-top: 20px;
}

.forms {
    min-height: 150px;
}

.submit {
    display: block;
    margin-top: 25px;
    width: 100px;
    height: 30px;
}

.inputs {
    width: 300px;
    height: 25px;
}

@media(min-width: 1920px) {
    p {
        font-size: 28px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    body {
        max-height: 10000px;
    }

    main {
        width: 100%; 
        max-height: 9800px;
    }

    .band-info {
        height: 620px;
        border-radius: 15px;
    }

    .band-info:hover {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    }

    .first {
        width: 500px;
        height: 560px;
    }

    .cover {
        border-radius: 8px;
        width: 500px; 
        height: 500px; 
    }


    .logo {
        border-radius: 8px;
        width: 500px; 
        height: 500px;
    }

    .close-button {
        width: 45px;
        height: 45px;
        font-size: 24px;
    }
    
    .add-track-btn {
        width: 200px;
        height: 40px;
        font-size: 24px;
    }
    
    
    .add-band-btn {
        width: 250px;
        height: 60px;
        font-size: 36px;
    }

    .second {
        height: 560px;
    }

    .tracks-list {
        list-style: url(https://img.icons8.com/?size=25&id=apInxpMsS4Iq&format=png&color=000000);
    }

    .labels {
        margin-top: 30px;
    }
    
    .forms {
        min-height: 200px;
    }
    
    .submit {
        display: block;
        margin-top: 25px;
        width: 200px;
        height: 50px;
        font-size: 24px;
        border-radius: 5px;
        border: 2px solid black;
    }
    
    .inputs {
        width: 500px;
        height: 50px;
        font-size: 24px;
        border: 2px solid black;
    }
}

@media(max-width: 1200px) {
    p {
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    body {
        min-height: 400px;
    }

    main {
        min-height: 200px;
    }

    .band-info {
        width: 90%;
        min-height: 400px;
        padding: 10px;
    }

    .band-info:focus {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .first {
        width: 300px;
        min-height: 360px;
    }

    .logo, .cover {
        width: 300px; 
        height: 300px; 
    }

    .second {
        width: 60%;
        min-height: 360px;
    }

    .close-button {
        top: -165px;
    }
}

@media(max-width: 768px) {
    p {
        font-size: 14px;
    }

    body {
        max-height: 2400px;
    }

    main {
        max-height: 2300px;
    }

    .band-info {
        width: 90%;
        height: 400px;
    }

    .first {
        width: 250px;
        height: 320px;
    }

    .logo, .cover {
        width: 250px; 
        height: 250px; 
    }

    .second {
        width: 55%;
    }
}

@media(max-width: 600px) {
    body {
        max-height: 5300px;
    }

    main {
        max-height: 5200px;
    }

    .band-info {
        width: 90%;
        min-height: 850px;
        flex-direction: column;
    }

    .band-info:nth-of-type(even) {
        background-color: #000;
        flex-direction: column-reverse;
    }

    .first {
        width: 400px;
        min-height: 460px;
        display: flex;
    }

    .logo, .cover {
        width: 400px; 
        height: 400px; 
    }

    .second {
        width: 90%;
        height: 350px;
    }

    .close-button {
        position: static;
    }
}

@media(max-width: 450px) {
    p {
        font-size: 14px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    body {
        max-height: 4000px;
    }

    main {
        max-height: 3900px;
    }

    .band-info {
        width: 90%;
        min-height: 750px;
        flex-direction: column;
    }

    .first {
        width: 270px;
        min-height: 250px;
        display: flex;
    }

    .logo, .cover{
        width: 240px; 
        height: 240px; 
    }

    .close-button {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}